# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
build/assets/solitaire-h67oio_n.png
build/assets/nasa2-Wo_8Jo3W.png
build/assets/nasa1-_pPHDLZi.png
build/assets/jc-gtb8ST0u.jpg
build/assets/index-p0Vwr5O-.js
build/assets/index-ESlZIToz.css
build/index.html
build/assets/back-3d3_PvCT.jpg
build/assets/index-bfVyF4Y1.js
