body{
    width:auto;
    height:auto;
    background-image: url(grey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}

nav.nav{
    display:flex;
    justify-content: end;
    padding-right:9%;
    padding-top:5px;
    padding-bottom: 5%;
    backdrop-filter: invert(40%);
    mask-image: linear-gradient(black, transparent);
}

nav.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }

nav.nav ul li{
    float: left;
    
}

nav.nav ul li a{
    color:black;
    display:block;
    padding: 8px;
    font-size: 1.5em;
}

nav.nav ul li a.active{
    background-color: rgb(133, 132, 132);
    border-radius: 7px;
}

nav.nav ul li a:hover{
    background-color: rgb(114, 113, 113);
    border-radius: 7px;
}

div.content{
    margin-top:2%;
    margin-left: 5%;
    clear:left;
}

