body{
    width:auto;
    height:auto;
    background-image: url(Images\back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}

nav.nav{
    display:flex;
    justify-content: end;
    padding-right:9vw;
    padding-top:2vh;
    padding-bottom: 5vh;
    backdrop-filter: invert(40%);
    mask-image: linear-gradient(360deg, rgb(50.588% 99.608% 91.373% / 0) 0%, rgb(41.684% 80.104% 73.558% / 0.176025390625) 6.25%, rgb(34.095% 63.731% 58.597% / 0.330078125) 12.5%, rgb(27.677% 50.133% 46.168% / 0.463623046875) 18.75%, rgb(22.297% 38.975% 35.965% / 0.578125) 25%, rgb(17.832% 29.943% 27.703% / 0.675048828125) 31.25%, rgb(14.17% 22.743% 21.112% / 0.755859375) 37.5%, rgb(11.211% 17.103% 15.948% / 0.822021484375) 43.75%, rgb(8.863% 12.775% 11.983% / 0.875) 50%, rgb(6.913% 9.563% 9.011% / 0.916259765625) 56.25%, rgb(4.737% 6.923% 6.468% / 0.947265625) 62.5%, rgb(2.769% 4.391% 4.028% / 0.969482421875) 68.75%, rgb(1.418% 2.256% 2.062% / 0.984375) 75%, rgb(0.598% 0.952% 0.87% / 0.993408203125) 81.25%, rgb(0.177% 0.282% 0.258% / 0.998046875) 87.5%, rgb(0.022% 0.035% 0.032% / 0.999755859375) 93.75%, rgb(0% 0% 0%) 100% );
    
}

nav.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }

nav.nav ul li{
    float: left;
    
}

nav.nav ul li a{
    color:black;
    display:block;
    padding: 8px;
    font-size: 1.5em;
}

nav.nav ul li a.active{
    background-color: rgb(133, 132, 132);
    border-radius: 7px;
}

nav.nav ul li a:hover{
    background-color: rgb(114, 113, 113);
    border-radius: 7px;
}

div.content{
    margin-top:2%;
    margin-left: 5%;
    margin-right:5%;
}

h1{
    font-size: 2.7em;
}

p{
    font-size:1.1em;
}

li{
    font-size: 1.1em;
}

img{
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin:5px;
    height:auto;
}